$primary-border-color: rgb(43, 25, 25);

@mixin border($color) {
  
  border-radius: 1%;
  box-shadow: rgb(211, 210, 210) 1px 1px 10px;
}
.login_container input,label,button{
 padding: 2%;
}
.login_container button{
  background-color: #456B75 ;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-top: 2%;
}
.login_form{
  display: flex;
  flex-direction: column;
  padding: 5%;
}
.login_container {
 
  width: 55%;
  @include border($primary-border-color);
  margin: 11% auto;
  height: 50vh;
}
.Error{
  color: red;
  padding: 1%;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
@media (max-width: 768px) {
  .login_container {
    width: 90%;
    margin: 20%;
    height: auto;
  }
}
@media (min-width: 420px) and (max-width: 767px) {
  .login_container {
    width:60%;
    margin: 20%;
    height: 50vh;
  }
}
