@use "../../../Pages/Login/login.scss" as border;
.ListItems {
  @include border.border(black);
  padding: 2%;
  margin-top: 3%;
  
}
.ListItems_Container{
    @include border.border(black);
    padding: 2%;
    height: 65vh;
    margin-top: 2%;
    overflow-y: scroll;
    padding-bottom: 5%;
    scrollbar-width: none;
}
ul {
  padding: 0;
  list-style: none;
}
li {
  font-size: 60%;
  padding-bottom: 10%;
}
svg:focus {
  outline: none;
}
svg:hover{
    color:rebeccapurple
}
label {
  font-size: 100%;
}
.IconContainer {
  float: right;
}
.IconContainer ,svg {
  margin-left: 1rem;
}

