$font-size : 40%; // Define your font size here.
$One-Percent : 1%; // Define your one percent value here.
$two-Percent : 1%; // Define your two percent value here.
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
main{
    padding: $two-Percent $One-Percent;
    margin-top: 3%; // Adjust for fixed header height
    margin-bottom: $two-Percent; // Adjust for fixed footer height
    font-size: 2rem;
}
.Content input{
    width: 90%;
    padding: $One-Percent;
    font-size: $font-size;
    border: 1px solid #000000;
    border-radius: 2px;
}
.Content button{
    padding: $One-Percent;
    width: 8%;
    font-size: $font-size;
    margin-left: $two-Percent;
    border: none;
    border-radius: 5%;
    background-color: #456B75; // Use the same primary color
    color: white;
    cursor: pointer;
}
