@use '../global.scss' as global;
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
main{
    padding: global.$two-Percent global.$One-Percent;
    margin-top: 4%; // Adjust for fixed header height
    margin-bottom: global.$two-Percent; // Adjust for fixed footer height
    font-size: 2rem;
}
.Content input[type=text]{
    width: 90%;
    padding:global.$One-Percent;
    font-size: global.$font-size;
    border: 1px solid #000000;
    border-radius: 2px;
}
.Content button{
    width: 8%;
    padding:global.$One-Percent;
    margin-left:global.$two-Percent;
    border: none;
    border-radius: 5%;
}
