@use '../global.scss' as *;
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
main{
    padding: $two-Percent $One-Percent;
    margin-top: 4%; // Adjust for fixed header height
    margin-bottom: $two-Percent; // Adjust for fixed footer height
    font-size: 2rem;
}
.Content input{
    width: 90%;
    padding: $One-Percent;
    font-size: $font-size;
    border: 1px solid #000000;
    border-radius: 2px;
}
.Content button{
    @include button;
    width: 8%;
    padding: $One-Percent;
    margin-left: $two-Percent;
    border: none;
    border-radius: 5%;
}
