@use '../global.scss' as *;
header{
    background-color: $primary;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    padding: 1%;
    top: 0;
    font-size: 100%;
}


