$primary :#456B75 ; // Define your primary color here.(Header background color)
$font-size : 50%; // Define your font size here.
$One-Percent : 1%; // Define your one percent value here.
$two-Percent : 1%; // Define your two percent value here.
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
