$primary :#456B75 ; // Define your primary color here.(Header background color)
$font-size: 1.3rem; // Define your font size here.
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    background-color: $primary;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1%;
    font-size: $font-size;
}