@use '../global.scss' as *;
footer{
    background-color: $primary;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1%;
    font-size: 100%;
}